#main_title_box {
    height: 70px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    background-color: $color1;

    #main_title {
        text-align: center;
        letter-spacing: 3px;
        strong{
            text-transform: uppercase;
            text-decoration: underline;
        }
    }
}

.container {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .introduction_box {
        width: 70%;
        // display: grid;
        text-align: center;

        #p_one {
            font-size: 18px;
        }

        #more_info {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                margin: 0 5px;
                padding: 5px;
                color: $color1;
                text-decoration: none;
                border: 1px solid #000;
                border-radius: 10px;
                font-family: monospace;
                font-size: 15px;
            }

            .over {
                margin: 0 5px;
                padding: 5px;
                color: $color8;
                text-decoration: none;
                border: 1px solid #000;
                border-radius: 10px;
                background-color: $color1;
                font-family: monospace;
                font-size: 15px;
            }
        }
    }
}

.form_box{
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 20px;
    #form_p{
        margin-bottom: 5px;
        color: $color1;
        font-weight: 500;
    }
    .big_font{
        margin-bottom: 5px;
        color: $color1;
        font-size: 100px;
        font-weight: 500;
    }
    #name_form{
        height: fit-content;
        #name_input{
            height: 30px;
            width: 230px;
            color: $color4;
        }
        #name_input::placeholder{
            color: $color4;
        }
        #submit_button{
            height: 30px;
            padding: 0 10px;
        }
        .off{
            display: none;
        }
    }
}