#pokeapi_display {
    margin: 15px;
    padding: 20px;
    border: 5px solid $pokeblue;
    background-color: $pokeyellow;
    #poke_title {
        margin-bottom: 5px;
        font-size: 34px;
        text-shadow: 2px 0 $pokeblue, -2px 0 $pokeblue, 0 2px $pokeblue,
            0 -2px $pokeblue, 1px 1px $pokeblue, -1px -1px $pokeblue,
            1px -1px $pokeblue, -1px 1px $pokeblue;
        color: $pokeyellow;
        font-family: $pokefont;
    }
    h3 {
        margin-bottom: 20px;
    }
    #poke_form {
        height: fit-content;
        #pokemon_inp {
            height: 45px;
            width: 230px;
            border: 2px solid $pokeblue;
            border-radius: 10px;
            color: black;
            font-size: 20px;
        }
        #pokemon_inp::placeholder {
            color: $pokeblue;
            font-size: 20px;
        }
        #search_button {
            color: #ecf0f1;
            font-size: 17px;
            background-color: $pokeblue;
            border: 1px solid #5592b8;
            border-radius: 5px;
            cursor: pointer;
            padding: 10px;
            box-shadow: 0px 6px 0px #01426b;
            transition: all 0.1s;
        }
        #search_button:active {
            box-shadow: 0px 2px 0px #01426b;
            position: relative;
            top: 2px;
        }
    }
    #poke_ready {
        text-align: center;
        font-size: 35px;
    }
    #save_button_box {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        #save_team_button {
            color: #ecf0f1;
            font-size: 17px;
            background-color: $pokeblue;
            border: 1px solid #5592b8;
            border-radius: 5px;
            cursor: pointer;
            padding: 10px;
            box-shadow: 0px 6px 0px #01426b;
            transition: all 0.1s;
        }
        #save_team_button:active {
            box-shadow: 0px 2px 0px #01426b;
            position: relative;
            top: 2px;
        }
    }
}

.hide {
    display: none !important;
}
#poke_flow {
    margin: 15px;
    padding: 20px;
    border: 5px solid $pokeyellow;
    background-color: $pokeblue;
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    justify-content: space-between;
    .pokemon {
        margin: 5px;
        background-color: #b1b1b1;
        border: 10px solid $pokeyellow;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        img {
            background-color: rgb(60, 160, 60);
            border: 3px solid $pokeblue;
            border-bottom: 0;
        }
        h2 {
            border: 3px solid $pokeblue;
            border-top: 0;
            border-bottom: 0;
            text-shadow: 2px 0 $pokeblue, -2px 0 $pokeblue, 0 2px $pokeblue,
                0 -2px $pokeblue, 1px 1px $pokeblue, -1px -1px $pokeblue,
                1px -1px $pokeblue, -1px 1px $pokeblue;
            color: $pokeyellow;
            font-family: $pokefont;
        }
        .poke_text {
            display: flex;
            justify-content: center;
            flex-direction: column;
            border: 3px solid $pokeblue;
            border-top: 0;
        }
        .poke_details {
            font-size: 15px;
            padding-right: 2px;
        }
    }
}

#team_list_box{
    margin-left: 40px;
    margin-bottom: 30px;
    ul{
        color: $pokeblue;
        font-family: $pokefont;
        display: flex;
        li{
            background-color: $pokeyellow;
            padding-left: 3px;
            list-style: none;
        }
    }
}