@font-face {
    font-family: "Poke_font";
    src: url(/media/fonts/PocketMonk-15ze.ttf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* fonts */
$pokefont: "Poke_font";
/* colors */
$color1: #915FE8;
$color2: #E85FE1;
$color3: #BF5FE8;
$color4: #665FE8;
$color5: #E85F8F;
$color6: #D194EB;
$color7: rgb(180, 153, 199);
$color8: rgb(241, 229, 250);
$pokeblue: #0075BE;
$pokeyellow: #FFCC00;

// imports
@import "_banner";
@import "_pokeapi_display";
