@font-face {
    font-family: "Poke_font";
    src: url(/media/fonts/PocketMonk-15ze.ttf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
/* fonts */
$pokefont: "Poke_font";
/* colors */
$color1: #915fe8;
$color2: #e85fe1;
$color3: #bf5fe8;
$color4: #665fe8;
$color5: #e85f8f;
$color6: #d194eb;
$color7: rgb(180, 153, 199);
$color8: rgb(241, 229, 250);
$pokeblue: #0075be;
$pokeyellow: #ffcc00;

// imports
@import "_banner";
@import "_pokeapi_display";
