@font-face {
  font-family: "Poke_font";
  src: url(/media/fonts/PocketMonk-15ze.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* fonts */
/* colors */
#main_title_box {
  height: 70px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  background-color: #915fe8;
}
#main_title_box #main_title {
  text-align: center;
  letter-spacing: 3px;
}
#main_title_box #main_title strong {
  text-transform: uppercase;
  text-decoration: underline;
}

.container {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .introduction_box {
  width: 70%;
  text-align: center;
}
.container .introduction_box #p_one {
  font-size: 18px;
}
.container .introduction_box #more_info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .introduction_box #more_info a {
  margin: 0 5px;
  padding: 5px;
  color: #915fe8;
  text-decoration: none;
  border: 1px solid #000;
  border-radius: 10px;
  font-family: monospace;
  font-size: 15px;
}
.container .introduction_box #more_info .over {
  margin: 0 5px;
  padding: 5px;
  color: rgb(241, 229, 250);
  text-decoration: none;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #915fe8;
  font-family: monospace;
  font-size: 15px;
}

.form_box {
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 20px;
}
.form_box #form_p {
  margin-bottom: 5px;
  color: #915fe8;
  font-weight: 500;
}
.form_box .big_font {
  margin-bottom: 5px;
  color: #915fe8;
  font-size: 100px;
  font-weight: 500;
}
.form_box #name_form {
  height: -moz-fit-content;
  height: fit-content;
}
.form_box #name_form #name_input {
  height: 30px;
  width: 230px;
  color: #665fe8;
}
.form_box #name_form #name_input::-moz-placeholder {
  color: #665fe8;
}
.form_box #name_form #name_input::placeholder {
  color: #665fe8;
}
.form_box #name_form #submit_button {
  height: 30px;
  padding: 0 10px;
}
.form_box #name_form .off {
  display: none;
}

#pokeapi_display {
  margin: 15px;
  padding: 20px;
  border: 5px solid #0075be;
  background-color: #ffcc00;
}
#pokeapi_display #poke_title {
  margin-bottom: 5px;
  font-size: 34px;
  text-shadow: 2px 0 #0075be, -2px 0 #0075be, 0 2px #0075be, 0 -2px #0075be, 1px 1px #0075be, -1px -1px #0075be, 1px -1px #0075be, -1px 1px #0075be;
  color: #ffcc00;
  font-family: "Poke_font";
}
#pokeapi_display h3 {
  margin-bottom: 20px;
}
#pokeapi_display #poke_form {
  height: -moz-fit-content;
  height: fit-content;
}
#pokeapi_display #poke_form #pokemon_inp {
  height: 45px;
  width: 230px;
  border: 2px solid #0075be;
  border-radius: 10px;
  color: black;
  font-size: 20px;
}
#pokeapi_display #poke_form #pokemon_inp::-moz-placeholder {
  color: #0075be;
  font-size: 20px;
}
#pokeapi_display #poke_form #pokemon_inp::placeholder {
  color: #0075be;
  font-size: 20px;
}
#pokeapi_display #poke_form #search_button {
  color: #ecf0f1;
  font-size: 17px;
  background-color: #0075be;
  border: 1px solid #5592b8;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  box-shadow: 0px 6px 0px #01426b;
  transition: all 0.1s;
}
#pokeapi_display #poke_form #search_button:active {
  box-shadow: 0px 2px 0px #01426b;
  position: relative;
  top: 2px;
}
#pokeapi_display #poke_ready {
  text-align: center;
  font-size: 35px;
}
#pokeapi_display #save_button_box {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pokeapi_display #save_button_box #save_team_button {
  color: #ecf0f1;
  font-size: 17px;
  background-color: #0075be;
  border: 1px solid #5592b8;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  box-shadow: 0px 6px 0px #01426b;
  transition: all 0.1s;
}
#pokeapi_display #save_button_box #save_team_button:active {
  box-shadow: 0px 2px 0px #01426b;
  position: relative;
  top: 2px;
}

.hide {
  display: none !important;
}

#poke_flow {
  margin: 15px;
  padding: 20px;
  border: 5px solid #ffcc00;
  background-color: #0075be;
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  justify-content: space-between;
}
#poke_flow .pokemon {
  margin: 5px;
  background-color: #b1b1b1;
  border: 10px solid #ffcc00;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#poke_flow .pokemon img {
  background-color: rgb(60, 160, 60);
  border: 3px solid #0075be;
  border-bottom: 0;
}
#poke_flow .pokemon h2 {
  border: 3px solid #0075be;
  border-top: 0;
  border-bottom: 0;
  text-shadow: 2px 0 #0075be, -2px 0 #0075be, 0 2px #0075be, 0 -2px #0075be, 1px 1px #0075be, -1px -1px #0075be, 1px -1px #0075be, -1px 1px #0075be;
  color: #ffcc00;
  font-family: "Poke_font";
}
#poke_flow .pokemon .poke_text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 3px solid #0075be;
  border-top: 0;
}
#poke_flow .pokemon .poke_details {
  font-size: 15px;
  padding-right: 2px;
}

#team_list_box {
  margin-left: 40px;
  margin-bottom: 30px;
}
#team_list_box ul {
  color: #0075be;
  font-family: "Poke_font";
  display: flex;
}
#team_list_box ul li {
  background-color: #ffcc00;
  padding-left: 3px;
  list-style: none;
}/*# sourceMappingURL=style.css.map */